<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">

	<!-- 부서 등록 -->
	<insert id="insert" parameterType="Dept">
		insert into dept(deptno, dname, loc)
		values(seq_dept.nextval, #{dname}, #{loc})
		
		<!-- 방금 들어간 레코드의 pk를 가져올때 유용한 기능
			왜 select max(deptno) from dept(공유 사용자에 의해 손상될 수 있음) 
			mysql: select last_insert_id()(나의 세션에서 증가시킨 pk만 가져옴)
			oracle: select seq_dept.currval from dual(나의 세션에서 증가시킨 시퀀스만 가져옴)
		-->
		<selectKey keyColumn="deptno" keyProperty="deptno" order="AFTER" resultType="int">
			select seq_dept.currval as deptno from dual
		</selectKey>
	</insert>
	
	<!-- 부서 한건 가져오기 -->
	<select id="select" resultType="Dept" parameterType="int">
		select * from dept where deptno=#{deptno}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from dept where deptno=#{deptno}
	</delete>
</mapper>